

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    padding: 100px 0;
}


/* common styles */

.about .about-content,
.services .serv-content,
.skills, .skills-content,
.contact , .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-family: 'ubuntu', sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
}


/* cursor area */

.services .serv-content .card,
.menu-btn, .contact .right form .button button,
.scroll-up-btn {
    cursor: pointer;
}


/* transtions */

.services .serv-content .card .box,
.navbar,
.navbar .logo a span,
.navbar .menu li a,
.navbar .menu,
.home .home-content a,
.about .about-content .right a,
.services .serv-content .card .box,
.services .serv-content .card,
.projects .carousel .card,
.projects .carousel .card img,
.projects .carousel .card .box,
.owl-dot,
.contact .right form .button button,
.scroll-up-btn,
.sub-title a {
    transition: ease 0.3s all;
}


/* section {
    padding: 100px 0;
} */

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}