/* navbar styling */
.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 30px 0;
    font-family: 'ubuntu', sans-serif;
}
.navbar.sticky {
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
}
.navbar .logo a span {
    color: crimson;
}
.navbar.sticky .logo a span {
    color: #fff;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    margin-left: 25px;
}
.navbar .menu li a:hover {
    color: crimson;
}
.navbar.sticky .menu li a:hover {
    color: #fff;
}