@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.fade-out{
    animation: fadeOut 4s;
}
@import url('/css/fonts.css');
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }


.title{
    margin-top: 400px;
    transition: 0.3s all ease;
}
.title p{
    font-size: 20px;
    transition: 0.3s all ease;

}
.title p span {
    color: crimson;
    transition: 0.3s all ease;

}
.title p a{
    text-decoration: none;
}

@media (max-width: 500px) {
    
.title{
    margin-top: 50px;
    transition: 0.3s all ease;

}
.title h1{
    font-size: 40px;
    transition: 0.3s all ease;

}
.title h1 span{
    display: none;
}
.title p{
    font-size: 18px;
    width: 280px;
    padding-top: 150px;
    margin: 0 auto;
    transition: 0.3s all ease;
}
 
}

